<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Real Time Messaging</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<textarea cols="50" rows="10" id="messageInput" th:text="${message}"></textarea>

<script th:inline="javascript">
    const socket = new SockJS('/websocket');
    const stompClient = Stomp.over(socket);
    const timeout = null;

    stompClient.connect({}, () => {
        stompClient.subscribe('/topic/public', (messageOutput) => {
            if (!messageOutput) messageOutput = '';
            document.getElementById('messageInput').value = messageOutput.body;
        });
    });

    sendMessage = () => {
        const messageInput = document.getElementById('messageInput');
        stompClient.send("/app/send", {}, messageInput.value);
    };



    debounce = (func, wait) => {
        return () => {
            clearTimeout(timeout);
            timeout = setTimeout(func, wait);
        }
    };

    const debouncedSend = debounce(sendMessage, 100);
    document.getElementById('messageInput').addEventListener('input', debouncedSend);
</script>
</body>
</html>
